<section class="flex flex-col bg-gray-100 container mx-auto p-5 max-w-7xl mt-5">
    <!-- back button -->
    <a href="/dashboard">
        <button class="bg-_red-500 text-white px-3 py-3 rounded-lg inline-flex items-center justify-self-start"><i
                data-lucide="chevron-left"></i>
            กลับ</button>
    </a>

    <!-- table section -->
    <div class="flex flex-col w-full mt-4">
        <!-- title table -->
        <div class="flex justify-between items-center">
            <h1 class="text-xl text-center">ธุรกรรมการเงิน</h1>
            <input onchange="updateQueryString(this.value)" type="text" value="<%= filter %>" placeholder="ค้นหา"
                class="px-3 py-3 rounded-lg border border-gray-200" />
        </div>
        <!-- table -->
        <div class="overflow-x-auto">
            <div class="mt-5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200 border-2 border-gray-200">
                        <thead>
                            <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                    OrderNo</th>
                                <th scope="col"
                                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Order
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                    Address</th>
                                <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">
                                    Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(item of funding) { %>
                                <tr class="odd:bg-white even:bg-gray-100">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                        <%= item.id.toString().padStart(4, '0' ) %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                        <%= item.user.name %> ได้ทำการสั่งซื้อ <%= item.items.length %> รายการ
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                        <% if(!item.address) { %>
                                            ไม่มีที่อยู่
                                            <% } else { %>
                                                <%= item.address %>
                                                    <% } %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                        <button type="button"
                                            class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-500 hover:text-blue-600 focus:outline-hidden focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">
                                            <i data-lucide="search-slash"></i>
                                        </button>
                                        <button type="button"
                                            class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-yellow-500 hover:text-yellow-600 focus:outline-hidden focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">
                                            <i data-lucide="square-pen"></i>
                                        </button>
                                    </td>
                                </tr>

                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>