<%- contentFor('body') %>
  <section class="relative flex flex-col min-h-dvh bg-_gray-100 container px-20 mx-auto p-5 mt-5">
    <div x-data="{
    queryFilter: new URLSearchParams(window.location.search).get('filter') || ''
  }" class="flex justify-center w-full gap-2">
      <button x-bind:class="{
        'border-red-500 bg-_red-500': queryFilter === 'pizza',
        'bg-white': queryFilter !== 'pizza'
      }" @click="queryFilter = 'pizza'; window.history.pushState({}, '', '?filter=pizza'); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-6">
            <i data-lucide="pizza" class="w-8 h-8 transition-colors" :class="{
            'text-red-600': queryFilter === 'pizza',
            'text-black/50': queryFilter !== 'pizza'
          }"></i>
          </div>
          <span class="text-2xl font-medium transition-colors" :class="{
          'text-white': queryFilter === 'pizza',
          'text-black/50 group-hover:text-_red-500': queryFilter !== 'pizza'
        }">
            พิซซ่า
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>

      <button x-bind:class="{
        'border-red-500 bg-_red-500': queryFilter === 'burger',
        'bg-white': queryFilter !== 'burger'
      }" @click="queryFilter = 'burger'; window.history.pushState({}, '', '?filter=burger'); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-6">
            <svg class="w-8 h-8 transition-colors" :class="{
            'text-_red-500': queryFilter === 'burger',
            'text-black/50': queryFilter !== 'burger'
          }" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.5 53C0.5 54.35 1.625 55.5 3 55.5H35.5C36.9 55.5 38 54.35 38 53V51.5C38 50.9477 37.5523 50.5 37 50.5H1.5C0.947714 50.5 0.5 50.9477 0.5 51.5V53ZM19.25 20.5C10.193 20.5 1.13606 25.1665 0.532 34.4996C0.496329 35.0507 0.947715 35.5 1.5 35.5H37C37.5523 35.5 38.0037 35.0507 37.968 34.4996C37.3639 25.1665 28.307 20.5 19.25 20.5ZM8.9961 30.5C8.18217 30.5 7.74488 29.6008 8.35181 29.0585C11.3965 26.338 16.2077 25.5 19.25 25.5C22.2923 25.5 27.1035 26.338 30.1482 29.0585C30.7551 29.6008 30.3178 30.5 29.5039 30.5H8.9961ZM0.5 41.5C0.5 40.9477 0.947715 40.5 1.5 40.5H37C37.5523 40.5 38 40.9477 38 41.5V44.5C38 45.0523 37.5523 45.5 37 45.5H1.5C0.947714 45.5 0.5 45.0523 0.5 44.5V41.5ZM44 10.5C43.4477 10.5 43 10.0523 43 9.5V1.5C43 0.947716 42.5523 0.5 42 0.5H39C38.4477 0.5 38 0.947715 38 1.5V9.5C38 10.0523 37.5523 10.5 37 10.5H26.6216C26.024 10.5 25.5599 11.0206 25.6281 11.6142L25.9731 14.6142C26.0312 15.119 26.4585 15.5 26.9666 15.5H48.87C49.4616 15.5 49.9239 16.0108 49.8651 16.5995L46.5651 49.5995C46.5139 50.1107 46.0838 50.5 45.57 50.5H44C43.4477 50.5 43 50.9477 43 51.5V54.5C43 55.0523 43.4477 55.5 44 55.5H47.3C49.4 55.5 51.125 53.875 51.375 51.825L55.3903 11.5993C55.449 11.0107 54.9868 10.5 54.3952 10.5H44Z"
                fill="currentColor" />
            </svg>
          </div>
          <span class="text-2xl font-medium transition-colors" :class="{
          'text-white': queryFilter === 'burger',
          'text-black/50 group-hover:text-_red-500': queryFilter !== 'burger'
        }">
            เบอร์เกอร์
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>
    </div>

    <section>
      <section>
        <div class="flex items-center justify-between">
          <div>
            <h1 class="text-[30px] text-_red-500 font-bold">Pizzas</h1>
            <p class="text-black/50">
              **ลูกค้าสามารถเพิ่มพิซซ่า ไปยังรายการสินค้าได้ทีละ 1 ถาดเท่านั้น
            </p>
          </div>
          <div class="inline-flex items-center justify-between">
            <p class="text-_red-500 text-[30px]">ดูทั้งหมด ▶</p>
          </div>
        </div>
        <div class="grid grid-cols-2 xl:grid-cols-4 justify-center gap-6 mt-4 w-full mx-auto">
          <% if (pizzas.length> 0) { %> <% pizzas.forEach(pizza=> { %>
              <div x-data="{ 
                      added: false, 
                      modalOpen: false, 
                      pizza: { id: '<%= pizza.id %>', name: '<%= pizza.name %>', price: '<%= pizza.price %>', desc: '<%= pizza.desc %>' },
                      quantity: 1
                    }" class="flex flex-col justify-center bg-white text-black p-10 rounded-xl w-full">
                <img src="/img/assets/pizza/pizza26.png" class="object-cover drop-shadow-[0_13px_10px_rgba(0,0,0,0.25)]"
                  alt="pizza" />

                <div class="flex justify-between w-full mt-2">
                  <h3 class="font-bold" x-text="pizza.name"></h3>
                  <p class="text-lg text-_red-500 font-bold" x-text="pizza.price + ' บาท'"></p>
                </div>

                <p class="text-sm text-start text-black/50" x-text="pizza.desc"></p>

                <template x-if="!added">
                  <button @click="added = true" class="mt-2 bg-_red-500 text-white px-4 py-2 w-full rounded-sm">
                    เพิ่มไปยังรายการสินค้า
                  </button>
                </template>

                <template x-if="added">
                  <div class="mt-2">
                    <p class="text-sm text-black/60">
                      total : <span x-text="pizza.price * quantity"></span> ฿
                    </p>
                    <div class="flex items-center justify-between mt-2 border rounded-md">
                      <button class="px-2 py-1 rounded-md" @click="quantity = Math.max(quantity - 1, 1)">
                        −
                      </button>
                      <span x-text="quantity"></span>
                      <button class="px-2 py-1 rounded-md" @click="quantity++">+</button>
                    </div>
                    <div class="flex justify-between mt-2 gap-2">
                      <button @click="added = false" class="text-black text-sm w-full border">
                        ยกเลิก
                      </button>
                      <button @click="modalOpen = true"
                        class="bg-_red-500 text-white px-4 py-2 rounded-sm w-full border">
                        เพิ่ม
                      </button>
                    </div>
                  </div>
                </template>

                <template x-if="modalOpen">
                  <div
                    class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center z-[20]"
                    @click="modalOpen = false">
                    <div class="bg-white p-6 rounded-xl w-52 h-52 transition-all transform"
                      x-transition:enter="transition-transform ease-out duration-300"
                      x-transition:enter-start="scale-95 opacity-0" x-transition:enter-end="scale-100 opacity-100"
                      x-transition:leave="transition-transform ease-in duration-300"
                      x-transition:leave-start="scale-100 opacity-100" x-transition:leave-end="scale-95 opacity-0">
                      <p class="text-center text-lg text-5xl">Modal Content</p>
                      <button class="w-full bg-red-500 text-white p-2 mt-2 rounded" @click="modalOpen = false">
                        Close
                      </button>
                      <button class="w-full bg-green-500 text-white p-2 mt-2 rounded" @click="sendOrder">
                        Confirm Order
                      </button>
                    </div>
                  </div>
                </template>
              </div>

              <% }); %>
                <% } else { %>
                  <p class="text-gray-400">ไม่มีเมนูขายดีในขณะนี้</p>
                  <% } %>
        </div>
      </section>
    </section>
  </section>