<%- contentFor('body') %>

  <section x-data="{
    pizzas: <%= JSON.stringify(pizzas) %>,
    appetizers: <%= JSON.stringify(appetizers) %>,
    snacks: <%= JSON.stringify(snacks) %>,
    drinks: <%= JSON.stringify(drinks) %>,
    queryFilter: new URLSearchParams(window.location.search).get('filter') || ''
  }" class="relative flex flex-col min-h-dvh bg-_gray-100 container px-20 mx-auto p-5 mt-5">
    <div class="flex flex-wrap justify-center w-full gap-2">
      <button x-bind:class="{
                'border-red-500 bg-_red-500': queryFilter === '',
                'bg-white': queryFilter !== ''
              }" @click="queryFilter = ''; window.history.pushState({}, '', '?filter='); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-0 md:mr-6">
            <i data-lucide="refrigerator" class="w-8 h-8 transition-colors" :class="{
                    'text-red-600': queryFilter === '',
                    'text-black/50': queryFilter !== ''
                  }"></i>
          </div>
          <span class="text-2xl font-medium transition-colors hidden md:block" :class="{
                  'text-white': queryFilter === '',
                  'text-black/50 group-hover:text-_red-500': queryFilter !== ''
                }">
            ทั้งหมด
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>
      <!-- พิซซ่า -->
      <button x-bind:class="{
        'border-red-500 bg-_red-500': queryFilter === 'pizza',
        'bg-white': queryFilter !== 'pizza'
      }" @click="queryFilter = 'pizza'; window.history.pushState({}, '', '?filter=pizza'); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-0 md:mr-6">
            <i data-lucide="pizza" class="w-8 h-8 transition-colors" :class="{
            'text-red-600': queryFilter === 'pizza',
            'text-black/50': queryFilter !== 'pizza'
          }"></i>
          </div>
          <span class="text-2xl font-medium transition-colors hidden md:block" :class="{
          'text-white': queryFilter === 'pizza',
          'text-black/50 group-hover:text-_red-500': queryFilter !== 'pizza'
        }">
            พิซซ่า
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>
      <!-- อาหารทานเล่น -->
      <button x-bind:class="{
        'border-red-500 bg-_red-500': queryFilter === 'appetizer',
        'bg-white': queryFilter !== 'appetizer'
      }"
        @click="queryFilter = 'appetizer'; window.history.pushState({}, '', '?filter=appetizer'); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-0 md:mr-6">
            <i data-lucide="soup" class="w-8 h-8 transition-colors" :class="{
              'text-red-600': queryFilter === 'pizza',
              'text-black/50': queryFilter !== 'pizza'
            }"></i>
          </div>
          <span class="text-2xl font-medium transition-color hidden md:inline" :class="{
          'text-white': queryFilter === 'appetizer',
          'text-black/50 group-hover:text-_red-500': queryFilter !== 'appetizer'
        }">
            อาหารอิตาเลียน
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>

      <button x-bind:class="{
        'border-red-500 bg-_red-500': queryFilter === 'snack',
        'bg-white': queryFilter !== 'snack'
      }" @click="queryFilter = 'snack'; window.history.pushState({}, '', '?filter=snack'); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-0 md:mr-6">
            <i data-lucide="drumstick" class="w-8 h-8 transition-colors" :class="{
            'text-red-600': queryFilter === 'snack',
            'text-black/50': queryFilter !== 'snack'
          }"></i>
          </div>
          <span class="text-2xl font-medium transition-color hidden md:inline" :class="{
          'text-white': queryFilter === 'snack',
          'text-black/50 group-hover:text-_red-500': queryFilter !== 'snack'
        }">
            อาหารทานเล่น
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>

      <button x-bind:class="{
        'border-red-500 bg-_red-500': queryFilter === 'drink',
        'bg-white': queryFilter !== 'drink'
      }" @click="queryFilter = 'drink'; window.history.pushState({}, '', '?filter=drink'); window.location.reload();"
        class="group inline-block w-fit h-fit cursor-pointer transition-all duration-300 ease-in-out rounded-xl">
        <div
          class="p-2 rounded-xl flex items-center group-hover:border-red-500 flex-shrink-0 border-2 group-hover:border-_red-600 transition-all">
          <div class="bg-gray-100 p-3 rounded-lg mr-0 md:mr-6">
            <i data-lucide="glass-water" class="w-8 h-8 transition-colors" :class="{
            'text-red-600': queryFilter === 'drink',
            'text-black/50': queryFilter !== 'drink'
          }"></i>
          </div>
          <span class="text-2xl font-medium transition-color hidden md:inline" :class="{
          'text-white': queryFilter === 'drink',
          'text-black/50 group-hover:text-_red-500': queryFilter !== 'drink'
        }">
            เครื่องดิ่ม
          </span>
          <input id="food" type="radio" name="food" class="sr-only" />
        </div>
      </button>
    </div>

    <section class="container mx-auto mt-10 space-y-4">
      <div x-show="queryFilter == 'pizza' || queryFilter === ''">
        <div>
          <h1 class="text-[30px] text-_red-500 font-bold">Pizzas</h1>
          <p class="text-black/50">**ลูกค้าสามารถเพิ่มพิซซ่า ไปยังรายการสินค้าได้ทีละ 1 ถาดเท่านั้น</p>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 justify-center gap-6 mt-4 w-full mx-auto">
          <% if (pizzas.length> 0) { %>
            <% pizzas.forEach(pizza=> { %>
              <div x-data="{ 
              added: false, 
              modalOpen: false, 
              pizza: { id: '<%= pizza.id %>', name: '<%= pizza.name %>', price: '<%= pizza.price %>', description: '<%= pizza.description %>', imageUrl: '<%= pizza.imageUrl %>' },
              quantity: 1 
            }" class="flex flex-col justify-center bg-white text-black p-10 rounded-xl w-full">
                <img src="<%= pizza.imageUrl %>" class="object-cover drop-shadow-[0_13px_10px_rgba(0,0,0,0.25)]"
                  alt="pizza" />

                <div class="flex justify-between w-full mt-2">
                  <h3 class="font-bold" x-text="pizza.name"></h3>
                  <p class="text-lg text-_red-500 font-bold" x-text="pizza.price + '฿'"></p>
                </div>

                <p class="text-sm text-start text-black/50" x-text="pizza.description"></p>

                <template x-if="!added">
                  <button @click="added = true" class="mt-2 bg-_red-500 text-white px-4 py-2 w-full rounded-sm">
                    <span class="hidden sm:inline">เพิ่มไปยังตระกร้า</span>
                    <span class="sm:hidden">เพิ่ม</span>
                  </button>
                </template>

                <template x-if="added">
                  <div class="mt-2">
                    <p class="text-sm text-black/60">
                      total : <span x-text="pizza.price * quantity"></span> ฿
                    </p>

                    <div class="flex items-center justify-between mt-2 border rounded-md">
                      <button class="px-2 py-1 rounded-md" @click="quantity = Math.max(quantity - 1, 1)">
                        −
                      </button>
                      <span x-text="quantity"></span>
                      <button class="px-2 py-1 rounded-md" @click="quantity++">+</button>
                    </div>
                    <div class="flex justify-between mt-2 gap-2">
                      <button @click="added = false" class="text-black text-sm w-full border">ยกเลิก</button>
                      <button @click="sendOrder" class="bg-_red-500 text-white px-4 py-2 rounded-sm w-full border">
                        เพิ่ม
                      </button>
                    </div>
                  </div>
                </template>
              </div>

              <% }); %>
                <% } else { %>
                  <p class="text-gray-400">ไม่มีเมนูขายดีในขณะนี้</p>
                  <% } %>
        </div>
      </div>

      <!--  -->
      <div x-show="queryFilter == 'appetizer' || queryFilter === ''">
        <div>
          <h1 class="text-[30px] text-_red-500 font-bold">Italian</h1>
          <p class="text-black/50">**ลูกค้าสามารถสั่งสินค้าไปยังรายการสินค้าได้ทีละ 1 ชิ้นเท่านั้น</p>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 justify-center gap-6 mt-4 w-full mx-auto">
          <% if (appetizers.length> 0) { %> <% appetizers.forEach(appetizer=> { %>
              <div x-data="{ 
          added: false, 
          modalOpen: false, 
          appetizer: { id: '<%= appetizer.id %>', name: '<%= appetizer.name %>', price: '<%= appetizer.price %>', description: '<%= appetizer.description %>', type: '<%= appetizer.type %>'},
          quantity: 1 
        }" class="flex flex-col justify-center bg-white text-black p-10 rounded-xl w-full">
                <img src="<%= appetizer.imageUrl %>" class="object-cover drop-shadow-[0_13px_10px_rgba(0,0,0,0.25)]"
                  alt="appetizer" />

                <div class="flex justify-between w-full mt-2">
                  <h3 class="font-bold" x-text="appetizer.name"></h3>
                  <p class="text-lg text-_red-500 font-bold" x-text="appetizer.price + '฿'"></p>
                </div>

                <p class="text-sm text-start text-black/50" x-text="appetizer.description"></p>

                <template x-if="!added">
                  <button @click="added = true" class="mt-2 bg-_red-500 text-white px-4 py-2 w-full rounded-sm">
                    <span class="hidden sm:inline">เพิ่มไปยังตระกร้า</span>
                    <span class="sm:hidden">เพิ่ม</span>
                  </button>
                </template>

                <template x-if="added">
                  <div class="mt-2">
                    <p class="text-sm text-black/60">
                      total : <span x-text="appetizer.price * quantity"></span> ฿
                    </p>
                    <div class="flex items-center justify-between mt-2 border rounded-md">
                      <button class="px-2 py-1 rounded-md" @click="quantity = Math.max(quantity - 1, 1)">
                        −
                      </button>
                      <span x-text="quantity"></span>
                      <button class="px-2 py-1 rounded-md" @click="quantity++">+</button>
                    </div>
                    <div class="flex justify-between mt-2 gap-2">
                      <button @click="added = false" class="text-black text-sm w-full border">
                        ยกเลิก
                      </button>
                      <button @click="sendOrder" class="bg-_red-500 text-white px-4 py-2 rounded-sm w-full border">
                        เพิ่ม
                      </button>
                    </div>
                  </div>
                </template>

              </div>

              <% }); %>
                <% } else { %>
                  <p class="text-gray-400">ไม่มีเมนูขายดีในขณะนี้</p>
                  <% } %>
        </div>
      </div>

      <!--  -->
      <div x-show="queryFilter == 'snack' || queryFilter === ''">

        <div>
          <h1 class="text-[30px] text-_red-500 font-bold">Snacks</h1>
          <p class="text-black/50">**ลูกค้าสามารถสั่งสินค้าไปยังรายการสินค้าได้ทีละ 1 ชิ้นเท่านั้น</p>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 justify-center gap-6 mt-4 w-full mx-auto">
          <% if (snacks.length> 0) { %> <% snacks.forEach(snack=> { %>
              <div x-data="{ 
            added: false, 
            modalOpen: false, 
             snack: { id: '<%= snack.id %>', name: '<%= snack.name %>', price: '<%= snack.price %>', description: '<%= snack.description %>', type: '<%= snack.type %>' },
            quantity: 1 
          }" class="flex flex-col justify-center bg-white text-black p-10 rounded-xl w-full">
                <img src="<%= snack.imageUrl %>" class="object-cover drop-shadow-[0_13px_10px_rgba(0,0,0,0.25)]"
                  alt="snack" />

                <div class="flex justify-between w-full mt-2">
                  <h3 class="font-bold" x-text="snack.name"></h3>
                  <p class="text-lg text-_red-500 font-bold" x-text="snack.price + '฿'"></p>
                </div>

                <p class="text-sm text-start text-black/50" x-text="snack.description"></p>

                <template x-if="!added">
                  <button @click="added = true" class="mt-2 bg-_red-500 text-white px-4 py-2 w-full rounded-sm">
                    <span class="hidden sm:inline">เพิ่มไปยังตระกร้า</span>
                    <span class="sm:hidden">เพิ่ม</span>
                  </button>
                </template>

                <template x-if="added">
                  <div class="mt-2">
                    <p class="text-sm text-black/60">
                      total : <span x-text="snack.price * quantity"></span> ฿
                    </p>

                    <div class="flex items-center justify-between mt-2 border rounded-md">
                      <button class="px-2 py-1 rounded-md" @click="quantity = Math.max(quantity - 1, 1)">
                        −
                      </button>
                      <span x-text="quantity"></span>
                      <button class="px-2 py-1 rounded-md" @click="quantity++">+</button>
                    </div>
                    <div class="flex justify-between mt-2 gap-2">
                      <button @click="added = false" class="text-black text-sm w-full border">
                        ยกเลิก
                      </button>
                      <button @click="sendOrder" class="bg-_red-500 text-white px-4 py-2 rounded-sm w-full border">
                        เพิ่ม
                      </button>
                    </div>
                  </div>
                </template>
              </div>
              <% }); %>
                <% } else { %>
                  <p class="text-gray-400">ไม่มีเมนูขายดีในขณะนี้</p>
                  <% } %>
        </div>
      </div>

      <div x-show="queryFilter == 'drink' || queryFilter === ''">

        <div>
          <h1 class="text-[30px] text-_red-500 font-bold">Drinks</h1>
          <p class="text-black/50">**ลูกค้าสามารถสั่งสินค้าไปยังรายการสินค้าได้ทีละ 1 ชิ้นเท่านั้น</p>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 justify-center gap-6 mt-4 w-full mx-auto">
          <% if (drinks.length> 0) { %> <% drinks.forEach(drink=> { %>
              <div x-data="{ 
                  added: false, 
                  modalOpen: false, 
                   drink: { id: '<%= drink.id %>', name: '<%= drink.name %>', price: '<%= drink.price %>', description: '<%= drink.description %>', type: '<%= drink.type %>' },
                  quantity: 1 
                }" class="flex flex-col justify-center bg-white text-black p-10 rounded-xl w-full">
                <div class="flex items-center justify-center">
                  <img src="<%= drink.imageUrl %>"
                    class="object-contain w-40 h-40 drop-shadow-[0_13px_10px_rgba(0,0,0,0.25)]" alt="drink" />
                </div>

                <div class="flex justify-between w-full mt-2">
                  <h3 class="font-bold" x-text="drink.name"></h3>
                  <p class="text-lg text-_red-500 font-bold" x-text="drink.price + '฿'"></p>
                </div>

                <p class="text-sm text-start text-black/50" x-text="drink.description"></p>

                <template x-if="!added">
                  <button @click="added = true" class="mt-2 bg-_red-500 text-white px-4 py-2 w-full rounded-sm">
                    <span class="hidden sm:inline">เพิ่มไปยังตระกร้า</span>
                    <span class="sm:hidden">เพิ่ม</span>
                  </button>
                </template>

                <template x-if="added">
                  <div class="mt-2">
                    <p class="text-sm text-black/60">
                      total : <span x-text="drink.price * quantity"></span> ฿
                    </p>

                    <div class="flex items-center justify-between mt-2 border rounded-md">
                      <button class="px-2 py-1 rounded-md" @click="quantity = Math.max(quantity - 1, 1)">
                        −
                      </button>
                      <span x-text="quantity"></span>
                      <button class="px-2 py-1 rounded-md" @click="quantity++">+</button>
                    </div>
                    <div class="flex justify-between mt-2 gap-2">
                      <button @click="added = false" class="text-black text-sm w-full border">
                        ยกเลิก
                      </button>
                      <button @click="sendOrder" class="bg-_red-500 text-white px-4 py-2 rounded-sm w-full border">
                        เพิ่ม
                      </button>
                    </div>
                  </div>
                </template>
              </div>
              <% }); %>
                <% } else { %>
                  <p class="text-gray-400">ไม่มีเมนูขายดีในขณะนี้</p>
                  <% } %>
        </div>
      </div>
    </section>
  </section>